<section class="bg-linear-grandient w-full min-h-screen text-primary-color pt-32 pb-10 px-x">
    <app-container>
        <div class="flex w-full flex-col md:flex-row gap-y-8">
            <div class="w-full md:w-2/4  flex flex-col justify-center leading-none gap-8">
                <h1 class="text-big-text tracking-tight">We Capture the World</h1>
                <p class="text-base md:max-w-[430px] leading-[150%] tracking-wide">At our studio, we don't just take pictures - we capture the world. Our passion for photography goes
                    beyond just snapping a photo - we strive to create images that tell a story, evoke emotions, and
                    capture the essence of the world around us.</p>
                <button>
                    <img class="w-[4rem]" src="/rounded-button.png" alt="Button">
                </button>
            </div>

            <div class="w-full md:w-2/4 center">
                <img src="/pic-hero.png" alt="Art"/>

            </div>
        </div>
    </app-container>
</section>