<app-header>

</app-header>

<main>
    <app-hero-section />
    <app-works-section />
    <section class="bg-linear-grandient py-20">
        <app-container>
            <div class="flex w-full flex-col md:flex-row gap-y-8 text-primary-color">
                <div class="w-full md:w-2/4  flex flex-col justify-center leading-none gap-8">
                    <h1 class="text-big-text tracking-tight">Gabriela Silva</h1>
                    <p class="text-base md:max-w-[430px] leading-[150%] tracking-wide">
                        Cras semper auctor neque vitae tempus. Neque volutpat ac tincidunt vitae. Eros donec ac odio tempor orci dapibus ultrices. Eget mauris pharetra et ultrices neque ornare. Metus aliquam eleifend mi in nulla posuere sollicitudin aliquam. Nunc id cursus metus aliquam eleifend mi. 
                    </p>
                    <a href="" class="border border-primary-color w-max rounded-sm px-2 py-2 center">
                        View case study
                    </a>
                </div>

                <div class="w-full md:w-2/4 center">
                    <img src="/img-works.png" alt="Art" />

                </div>
            </div>
        </app-container>
    </section>
</main>

<router-outlet />